// Colours
$bodyColour: #F2F4F5;
$headingColour: darken($bodyColour, 5%);
$linkColour: #7253ED;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #333;

$backgroundColour: #F2F4F5;
$codeBackgroundColour: darken($backgroundColour, 5%);
